.navbar {
  height: 4rem;
  /* margin-top: 1.25rem; */
  padding: 0 2rem;
  padding-top: 1.5rem;
  border-radius: 100px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Gray-100, #f2f4f7);
}
.logo {
  width: 1rem;
  height: 1rem;
}

.hamburger {
  font-size: 0.75rem;
}

.hamburger:focus {
  outline: none;
  box-shadow: 0 0 1px white;
}

.talk-sales {
  padding: 0.25rem 1rem;
  border-radius: 100px;
  border: 1px solid var(--Gray-400, #98a2b3);
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.free-sign {
  border-radius: 100px;
  background: var(--Blue-700, #175cd3);
  padding: 0.25rem 1rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.content-header {
  color: var(--Gray-800, #1d2939);
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.28px;
}

.content-text {
  color: var(--Gray-500, #667085);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.avatar {
  margin-left: -0.75rem;
}

.Header-images {
  width: 30rem;
  margin-left: 3.5rem;
  background: rgba(178, 221, 255, 1);
}
.user {
  width: 8.5rem;
  height: 8.5rem;
  margin-left: 0.5rem;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
}
.asset {
  width: 2rem;
  margin-left: 1.5rem;
  background-color: #f9fafb;
  border-radius: 4rem;
  height: 2rem;
  padding: 0 0.25rem;
}
.sponsor-icon {
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width: 567px) {
  .navbar {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 0.75rem;
    border-radius: 0;
  }
  .nav-item,
  .sign--up > p {
    padding: 0.5rem;
    background: var(--Gray-100, #f2f4f7);
    margin-bottom: 0.25rem;
  }
  .nav-item:hover {
    background: var(--Gray-100, #d0d5dd);
  }

  .navbar-nav,
  .sign--up {
    padding-left: 0;
    margin-left: 0;
    margin-top: 0.75rem;
    width: 100%;
  }
  .sign--up {
    margin-top: -1rem;
    /* background: var(--Gray-100, #f2f4f7); */
  }
  .user {
    width: 5rem;
    height: 4rem;
    margin-left: 1rem;
  }

  .content-header {
    font-size: 2rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }

  .content-text {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1rem;
  }

  .avatar {
    width: 2.1rem;
    height: 2.5rem;
    margin-left: -0.75rem;
  }
  .star {
    width: 0.75rem;
  }
  .rating {
    margin-left: -1.5rem;
  }

  .Header-images {
    width: 100%;
    margin-left: 0;
  }

  .asset {
    width: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    background-color: white;
    border-radius: 4rem;
    height: 2rem;
    padding: 0 0.25rem;
  }

  .free-sign,
  .talk-sales {
    font-size: 0.55rem;
  }
  .reviews {
    font-size: 0.75rem;
  }
  .sponsor-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sponsor {
    width: 5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  .family {
    width: 100%;
    height: 16rem;
  }
}
